.productListpage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.productListpage .product {
  display: flex;
}
.productListpage .product .filtersection {
  display: flex;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  border: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .head {
  display: flex;
  flex-direction: column;
}
.productListpage .product .filtersection .head .title {
  display: flex;
  padding: 15px 30px 15px 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .head .title h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.productListpage .product .filtersection .head .itemlist {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-bottom: 2px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .head .itemlist .item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.productListpage .product .filtersection .head .itemlist .item:hover {
  background-color: rgba(60, 66, 66, 0.1098039216);
}
.productListpage .product .filtersection .head .itemlist .item .itemName {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #807D7E;
}
.productListpage .product .filtersection .pricesection {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .pricesection .title {
  display: flex;
  padding: 15px 30px 15px 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .pricesection .title h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.productListpage .product .filtersection .pricesection .pricefilter {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productListpage .product .filtersection .pricesection .pricefilter .slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 0px;
}
.productListpage .product .filtersection .pricesection .pricefilter .slider .minslider {
  rotate: 180deg;
}
.productListpage .product .filtersection .pricesection .pricefilter .slider .minslider, .productListpage .product .filtersection .pricesection .pricefilter .slider .maxslider {
  width: 100%;
}
.productListpage .product .filtersection .pricesection .pricefilter .priceindicator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.productListpage .product .filtersection .pricesection .pricefilter .priceindicator .indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3C4242;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  width: 97px;
  height: 32px;
  border: 1px solid rgba(138, 137, 137, 0.3568627451);
  border-radius: 10px;
}
.productListpage .product .filtersection .colorselector {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .colorselector .title {
  display: flex;
  padding: 15px 30px 15px 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .colorselector .title h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.productListpage .product .filtersection .colorselector .colortiles {
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  gap: 20px;
  justify-content: center;
}
.productListpage .product .filtersection .colorselector .colortiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 40px;
}
.productListpage .product .filtersection .colorselector .colortiles .tile:hover i {
  width: 33px;
  height: 33px;
  border-radius: 7px;
}
.productListpage .product .filtersection .colorselector .colortiles .tile i {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
.productListpage .product .filtersection .colorselector .colortiles .tile p {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(138, 137, 137, 0.5960784314);
}
.productListpage .product .filtersection .szieselector {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .szieselector .title {
  display: flex;
  padding: 15px 30px 15px 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .szieselector .title h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.productListpage .product .filtersection .szieselector .sizetile {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 35px;
  justify-content: center;
}
.productListpage .product .filtersection .szieselector .sizetile button {
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  width: 61px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
}
.productListpage .product .filtersection .dressstyle {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .dressstyle .title {
  display: flex;
  padding: 15px 30px 15px 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .product .filtersection .dressstyle .title h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.productListpage .product .filtersection .dressstyle .itemlist {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.productListpage .product .filtersection .dressstyle .itemlist .item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.productListpage .product .filtersection .dressstyle .itemlist .item:hover {
  background-color: rgba(60, 66, 66, 0.1098039216);
}
.productListpage .product .filtersection .dressstyle .itemlist .item .itemName {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #807D7E;
}
.productListpage .product .productlist {
  display: flex;
  width: 80%;
  padding: 50px;
  gap: 50px;
  flex-direction: column;
}
.productListpage .product .productlist .heading {
  display: flex;
  justify-content: space-between;
}
.productListpage .product .productlist .heading .title {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #3F4646;
}
.productListpage .product .productlist .heading .filter {
  display: flex;
  gap: 20px;
}
.productListpage .product .productlist .heading .filter .cat1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #8A33FD;
  cursor: pointer;
}
.productListpage .product .productlist .heading .filter .cat2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
}
.productListpage .product .productlist .heading .filter .filterIcon {
  display: none;
}
.productListpage .product .productlist .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-self: center;
  gap: 20px;
}
.productListpage .product .productlist .cards .categorycard {
  position: relative;
  width: 270px;
}
.productListpage .product .productlist .cards .categorycard .cardimage {
  width: 275px;
  height: 372px;
  overflow: hidden;
  border-radius: 20px;
}
.productListpage .product .productlist .cards .categorycard .cardimage image {
  width: 100%;
  display: block;
}
.productListpage .product .productlist .cards .categorycard .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.productListpage .product .productlist .cards .categorycard .info .text {
  display: flex;
  flex-direction: column;
}
.productListpage .product .productlist .cards .categorycard .info .text .title {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #191919;
}
.productListpage .product .productlist .cards .categorycard .info .text .sub {
  font-size: 13px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #7F7F7F;
}
.productListpage .product .productlist .cards .categorycard .info .arrow {
  display: none;
}
.productListpage .product .productlist .cards .categorycard .info .price {
  background-color: #F6F6F6;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
.productListpage .product .productlist .cards .categorycard .heart {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2%;
  right: 3%;
  background-color: white;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}
.productListpage .product .productlist .cards .categorycard .heart img {
  width: 100%;
  display: block;
}
.productListpage .advertaisment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.productListpage .advertaisment .adContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.productListpage .advertaisment .adContent .msgHead {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.productListpage .advertaisment .adContent .msg {
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.productListpage .advertaisment .seemore {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
  cursor: pointer;
}
.productListpage .pricingtable {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  width: 100%;
  gap: 20px;
}
.productListpage .pricingtable .table {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 8px;
}
.productListpage .pricingtable .table .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.productListpage .pricingtable .table .data .head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .pricingtable .table .data .head .title {
  padding: 30px 40px 30px 40px;
  color: #3C4242;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 80%;
}
.productListpage .pricingtable .table .data .head .pricetitle {
  width: 20%;
  padding: 30px 40px 30px 40px;
  color: #3C4242;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  border-left: 1px solid rgba(128, 125, 126, 0.2549019608);
}
.productListpage .pricingtable .table .data .item {
  display: flex;
  justify-content: space-between;
}
.productListpage .pricingtable .table .data .item .itemname {
  color: #807D7E;
  padding: 30px 40px 30px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 80%;
}
.productListpage .pricingtable .table .data .item .price {
  color: #807D7E;
  padding: 30px 40px 30px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  border-left: 1px solid rgba(128, 125, 126, 0.2549019608);
  width: 20%;
}

@media screen and (max-width: 1280px) {
  .productListpage .product .filtersection {
    width: 23%;
  }
  .productListpage .product .filtersection .head .title h2 {
    font-size: 18px;
  }
  .productListpage .product .filtersection .head .itemlist {
    padding: 20px;
  }
  .productListpage .product .filtersection .head .itemlist .item .itemName {
    font-size: 15px;
  }
  .productListpage .product .filtersection .pricesection .title h2 {
    font-size: 18px;
  }
  .productListpage .product .filtersection .colorselector .title h2 {
    font-size: 18px;
  }
  .productListpage .product .filtersection .colorselector .colortiles {
    justify-content: center;
    padding: 30px;
  }
  .productListpage .product .filtersection .szieselector .title h2 {
    font-size: 18px;
  }
  .productListpage .product .filtersection .szieselector .sizetile {
    justify-content: center;
    padding: 30px;
  }
  .productListpage .product .filtersection .dressstyle .title h2 {
    font-size: 18px;
  }
  .productListpage .product .filtersection .dressstyle .itemlist {
    padding: 20px;
  }
  .productListpage .product .filtersection .dressstyle .itemlist .item .itemName {
    font-size: 15px;
  }
}
@media screen and (max-width: 1050px) {
  .productListpage .product {
    display: unset;
    position: relative;
  }
  .productListpage .product .filtersection {
    display: flex;
    position: absolute;
    right: 4%;
    top: 2%;
    z-index: 1;
    background: #ffffff;
    align-self: flex-end;
    justify-self: right;
    width: 50%;
    height: 30%;
    overflow: scroll;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px 1px gainsboro;
  }
  .productListpage .product .productlist {
    width: 100%;
  }
  .productListpage .product .productlist .heading .filter .filterIcon {
    display: block;
    cursor: pointer;
  }
  .productListpage .product .productlist .cards {
    gap: 17px;
  }
}
@media screen and (max-width: 990px) {
  .productListpage .product .filtersection {
    height: 20%;
  }
  .productListpage .product .productlist .cards {
    gap: 70px;
  }
}
@media screen and (max-width: 790px) {
  .productListpage .titlesection .emptydiv {
    width: 5px;
  }
  .productListpage .titlesection .title {
    font-size: 25px;
    line-height: 20px;
  }
  .productListpage .product .filtersection {
    top: 2%;
  }
  .productListpage .product .productlist .cards {
    gap: 15px;
  }
  .productListpage .product .productlist .cards .categorycard {
    width: 40%;
  }
  .productListpage .product .productlist .cards .categorycard .cardimage {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .productListpage .product .productlist .cards .categorycard .cardimage img {
    width: 100%;
    display: block;
  }
  .productListpage .product .productlist .cards .categorycard .info .text {
    display: flex;
    overflow: hidden;
  }
  .productListpage .product .productlist .cards .categorycard .info .text .title {
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
  }
  .productListpage .product .productlist .cards .categorycard .info .text .sub {
    font-size: 13px;
    line-height: 15px;
  }
  .productListpage .product .productlist .cards .categorycard .info .price {
    background-color: #F6F6F6;
    font-size: 12px;
    line-height: 15px;
  }
  .productListpage .advertaisment .adContent .msgHead {
    font-size: 18px;
    line-height: normal;
  }
  .productListpage .advertaisment .adContent .msg {
    font-size: 13px;
    line-height: 26px;
  }
  .productListpage .pricingtable .table .data .head .title, .productListpage .pricingtable .table .data .head .pricetitle {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 19px;
  }
  .productListpage .pricingtable .table .data .item .itemname, .productListpage .pricingtable .table .data .item .price {
    padding: 15px 20px 15px 20px;
    font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  .productListpage .titlesection .emptydiv {
    width: 5px;
  }
  .productListpage .titlesection .title {
    font-size: 20px;
    line-height: 20px;
  }
  .productListpage .product .filtersection {
    top: 4%;
  }
  .productListpage .product .filtersection .pricesection .pricefilter {
    padding: 10px;
  }
  .productListpage .product .productlist {
    padding: 20px;
  }
  .productListpage .product .productlist .heading {
    flex-direction: column;
    gap: 30px;
  }
  .productListpage .product .productlist .heading .title {
    font-size: 20px;
  }
  .productListpage .product .productlist .heading .filter .cat1, .productListpage .product .productlist .heading .filter .cat2 {
    font-size: 20px;
  }
  .productListpage .product .productlist .cards .categorycard {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .productListpage .product .productlist .cards {
    gap: 15px;
  }
  .productListpage .product .productlist .cards .categorycard {
    width: 45%;
  }
  .productListpage .product .productlist .cards .categorycard .cardimage {
    border-radius: 8px;
  }
  .productListpage .product .productlist .cards .categorycard .info .text {
    display: flex;
  }
  .productListpage .product .productlist .cards .categorycard .info .text .title {
    overflow: hidden;
    font-size: 11px;
    line-height: 11px;
  }
  .productListpage .product .productlist .cards .categorycard .info .text .sub {
    font-size: 10px;
    line-height: 11px;
  }
  .productListpage .product .productlist .cards .categorycard .info .price {
    background-color: #F6F6F6;
    font-size: 10px;
    line-height: 11px;
    padding: 8px;
  }
}
@media screen and (max-width: 360px) {
  .productListpage .titlesection .emptydiv {
    width: 5px;
  }
  .productListpage .titlesection .title {
    font-size: 18px;
    line-height: 20px;
  }
  .productListpage .product {
    height: 900px;
    overflow: scroll;
  }
  .productListpage .product .filtersection {
    width: 70%;
    height: 50%;
    top: 12%;
  }
  .productListpage .product .productlist .heading {
    flex-direction: column;
    gap: 30px;
  }
  .productListpage .product .productlist .heading .title {
    font-size: 15px;
  }
  .productListpage .product .productlist .heading .filter .cat1, .productListpage .product .productlist .heading .filter .cat2 {
    font-size: 15px;
  }
  .productListpage .product .productlist .cards .categorycard {
    width: 46%;
  }
  .productListpage .product .productlist .cards .categorycard .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .productListpage .product .productlist .cards .categorycard .info .price {
    align-self: flex-start;
  }
  .productListpage .product .productlist .cards .categorycard .heart {
    width: 19px;
    height: 19px;
    padding: 5px;
  }
  .productListpage .advertaisment .adContent .msgHead {
    font-size: 15px;
    line-height: normal;
  }
  .productListpage .advertaisment .adContent .msg {
    font-size: 11px;
    line-height: 18px;
  }
  .productListpage .pricingtable .table .data .head .title, .productListpage .pricingtable .table .data .head .pricetitle {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 15px;
  }
  .productListpage .pricingtable .table .data .item .itemname, .productListpage .pricingtable .table .data .item .price {
    padding: 10px;
    font-size: 11px;
  }
}/*# sourceMappingURL=productPage.css.map */