* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.Sign-IN {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.Sign-IN .Spotlight {
  height: 100vh;
  display: flex;
  width: 100%;
  flex: 1;
}
.Sign-IN .Spotlight .spotImg {
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
  overflow: hidden;
}
.Sign-IN .Spotlight .spotImg img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.Sign-IN .Spotlight .sign_inForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80%;
  padding: 70px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 568px;
  height: 697px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .title {
  font-size: 34px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.02em;
  text-align: left;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section1 .Google {
  width: 567px;
  height: 58px;
  border-radius: 8px;
  border: 1px solid #3C4242;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #8A33FD;
  cursor: pointer;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section1 .Google span {
  padding: 5px 10px 5px 5px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section1 .Twitter {
  width: 567px;
  height: 58px;
  border-radius: 8px;
  border: 1px solid #3C4242;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #8A33FD;
  cursor: pointer;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section1 .Twitter span {
  padding: 5px 10px 5px 5px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .divider .divider-line {
  flex: 1;
  height: 1px;
  background-color: #000;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .divider .divider-text {
  margin: 0 16px;
  color: #000;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .username-holder {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .username-holder .label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #3C4242;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .username-holder .username {
  width: 567px;
  height: 58px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.519);
  padding: 10px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .username-holder .error {
  font-size: 12px;
  font-weight: 700;
  align-self: flex-start;
  color: red;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .password-holder {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .password-holder .label {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #3C4242;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .password-holder .label span {
  cursor: pointer;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .password-holder .password {
  width: 567px;
  height: 58px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.519);
  padding: 10px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .password-holder .sublabel {
  align-self: flex-end;
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .password-holder .sublabel .error {
  font-size: 12px;
  font-weight: 700;
  align-self: flex-start;
  color: red;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section2 .password-holder .sublabel .forget_pass {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: #3C4242;
  align-self: flex-end;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section3 .sign_in_btn {
  width: 167px;
  height: 54px;
  padding: 16px, 20px, 16px, 20px;
  border-radius: 8px;
  background: #8A33FD;
  color: #F6F6F6;
  cursor: pointer;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section3 .signup {
  color: #3C4242;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.Sign-IN .Spotlight .sign_inForm .sign_in_section .section3 .signup span {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=sign_in.css.map */