.cartpage {
  display: flex;
  flex-direction: column;
}
.cartpage .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 40px;
  gap: 10px;
}
.cartpage .top .path {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #807D7E;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.cartpage .top .path span img {
  width: 100%;
  display: block;
}
.cartpage .top .note {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #807D7E;
}
.cartpage .top .note span {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #8A33FD;
  cursor: pointer;
}
.cartpage .mid {
  display: flex;
  flex-direction: column;
}
.cartpage .mid .heading {
  display: flex;
  justify-content: space-around;
  background-color: #3C4242;
  padding: 20px;
  color: white;
}
.cartpage .mid .heading .product {
  width: 340px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}
.cartpage .mid .heading .others {
  font-weight: 600;
  font-size: 16px;
  width: 90px;
  text-align: center;
}
.cartpage .mid .item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.195);
  padding: 20px;
  width: 100%;
  align-self: center;
}
.cartpage .mid .item .product {
  display: flex;
  gap: 10px;
  align-self: flex-start;
  width: 340px;
}
.cartpage .mid .item .product .details {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.cartpage .mid .item .product .details .name {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #717878;
}
.cartpage .mid .item .product .details .color, .cartpage .mid .item .product .details .size {
  color: #807D7E;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.cartpage .mid .item .price, .cartpage .mid .item .quantity, .cartpage .mid .item .shipping, .cartpage .mid .item .total, .cartpage .mid .item .delete {
  text-align: center;
  width: 90px;
}
.cartpage .mid .item .price, .cartpage .mid .item .total {
  color: #3C4242;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.cartpage .mid .item .quantity {
  display: flex;
  justify-content: space-around;
  padding: 7px;
  border-radius: 8px;
  background-color: #F6F6F6;
}
.cartpage .mid .item .quantity p {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #3C4242;
}
.cartpage .mid .item .quantity button {
  cursor: pointer;
}
.cartpage .mid .item .shipping {
  color: #BEBCBD;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: center;
}
.cartpage .mid .item .delete {
  cursor: pointer;
}
.cartpage .mid .item .delete i {
  width: 5px;
  height: 5px;
}
.cartpage .bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F6F6;
  padding: 30px;
}
.cartpage .bottom .discountSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: -moz-fit-content;
  width: fit-content;
}
.cartpage .bottom .discountSection .heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cartpage .bottom .discountSection .heading .main {
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #3C4242;
}
.cartpage .bottom .discountSection .heading .sub {
  color: #807D7E;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.cartpage .bottom .discountSection .couponinput {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.296);
  overflow: hidden;
}
.cartpage .bottom .discountSection .couponinput input {
  width: 250px;
  height: 43px;
  background-color: white;
}
.cartpage .bottom .discountSection .couponinput button {
  width: 161px;
  height: 43px;
  background-color: #8A33FD;
  color: #F6F6F6;
  border-radius: 0;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  cursor: pointer;
}
.cartpage .bottom .discountSection button {
  width: 232px;
  height: 43px;
  padding: 12px, 20px, 12px, 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.309);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #3C4242;
  cursor: pointer;
}
.cartpage .bottom .billsection {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 60px;
}
.cartpage .bottom .billsection .bill {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #717878;
  padding: 20px;
}
.cartpage .bottom .billsection .bill .total, .cartpage .bottom .billsection .bill .shipping {
  display: flex;
  gap: 40px;
  color: #3C4242;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
}
.cartpage .bottom .billsection .bill .Grandtotal {
  display: flex;
  gap: 20px;
  color: #3C4242;
  padding-top: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
}
.cartpage .bottom .billsection .chekoutbtn {
  align-self: center;
  width: 232px;
  height: 46px;
  padding: 12px, 20px, 12px, 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #F6F6F6;
  background-color: #8A33FD;
  cursor: pointer;
}/*# sourceMappingURL=cart.css.map */