
.Sign-up{
    width: 100%;
    height:fit-content;
    overflow: hidden;
    position: relative;
    max-height: 95vh;
    min-height: 80vh;
    
    .Spotlight{
       height: auto;
       display: flex;
       width: 100%;
       flex: 1;
       .spotImg{
        height:fit-content;
        width:50%;
        overflow: hidden;
        img{
            width: 100%;
            display: block;
            object-fit:cover;
        }
       }
       .sign_upForm{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top:50px ;
        width: 50%;
        height: 90%;
        .sign_up_section{
            display: flex;
            gap: 30px;
            flex-direction: column;
            width: 568px;
            height: 697px;    
            .title{
                font-size: 34px;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0.02em;
                text-align: left;
                
            }
            .section1{
                display: flex;
                flex-direction: column;
                gap: 30px;
                .Google{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: center;
                    width: 100%;
                    height: 58px;
                    border-radius: 8px;
                    border: 1px solid #3C4242;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #8A33FD;
                    cursor: pointer;
                    span{
                      display: flex;
                      img{
                        width: 100%;
                        display: block;
                      }
                    }

                }
                .Twitter{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 100%;
                    height: 58px;  
                    border-radius: 8px;
                    border: 1px solid #3C4242;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #8A33FD;
                    cursor: pointer;
                    span{
                        display: flex;
                        img{
                          width: 100%;
                          display: block;
                        }
                      }
                }
            }
            .divider {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 16px 0;
            
                .divider-line {
                flex: 1;
                height: 1px;
                background-color: #000;
                }
            
                .divider-text {
                margin: 0 16px;
                color: #000;
                }
            }
  
            .section2{
                display: flex;
                flex-direction: column;
                gap: 30px;
                .username-holder{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .label{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #3C4242;
                        
                    }
                    .username{
                        width: 567px;
                        height: 58px;
                        border-radius: 8px;
                        border: 1px solid rgba(0, 0, 0, 0.519);
                        padding: 10px;
    
                    }
                    .errorlabel{
                        align-self: flex-start;
                        text-align: left;
                        font-size: 14px;
                        font-weight: 600;
                        color: red;
                    }
                }
                .password-holder{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .label{
                        padding: 5px;
                        display: flex;
                        justify-content: space-between;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #3C4242;
                        span{
                            cursor: pointer;
                        }
                    }
                    .password{ 
                        width: 567px;
                        height: 58px;
                        border-radius: 8px;
                        border: 1px solid rgba(0, 0, 0, 0.519);
                        padding: 10px;
    
                    }  
                    .sublabel{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #3C4242;
                        align-self: flex-start;
                    }
                }
                .checkboxes{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .itm{
                        display: flex;
                        gap: 10px;
                        p{
                            font-size: 17px;
                            font-weight: 500;
                            line-height: 20px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #807D7E;
                        }
                        span{
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                   
            }
            .section3{
                display: flex;
                flex-direction: column;
                 gap: 8px;
                .sign_up_btn{
                    width: 167px;
                    height: 54px;
                    padding: 16px, 20px, 16px, 20px;
                    border-radius: 8px;
                    background: #8A33FD;
                    color: #F6F6F6;
                    cursor: pointer;
                }
                .signup{
                    color: #3C4242;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    span{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    
                }
            }
        }
    }
    }
   
}
@media screen and (max-width: 1150px){

    .Sign-up{
        
        .Spotlight{
            height: fit-content;
            .spotImg{
                 width: 60%;
                 height:100%;
                 margin: 0 auto;
                 img{
                    width: 100%; 
                    display: block;
                    object-fit: cover;
                 }
            }
            .sign_upForm{
                .sign_up_section{
                    width: 470px;
                    gap:10px;
                    height: fit-content;

                    .section1{
                        .Google,.Twitter{
                            width: 100%;
                        }
                    }
                    .section2{
                        .username-holder{
                            .username{
                                width: 100%;
                            }
                        }
                        .password-holder{
                            .password{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1060px){
 .Sign-up{
    .Spotlight{
        flex-direction: column;
        position: relative;
        .spotImg{
            width: 100%;
        }
        .sign_upForm{
            position: absolute;
            padding: 40px;
            top: 2%;
            right: 27%;
            border-radius:10px;
            background-color: whitesmoke;
            box-shadow: rgba(9, 30, 68, 0.25) 0px 5px;
            height: fit-content;
            .sign_up_section{
                width: 470px;
                gap:15px;
                height: fit-content;
                .title{
                    font-size: 25px;
                }
                .subtitle{
                     font-size: 15px;
                }

                .section1{
                    .Google,.Twitter{
                       font-size: 15px;
                    }
                }
                .section2{
                    .checkboxes{
                        .itm{
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
           
        }
    }
 }

}
@media screen and (max-width: 770px){

    .Sign-up{
        .Spotlight{
            .spotImg{
                width: 100%;
            }
            .sign_upForm{
                position: absolute;
                padding: 30px;
                top: 8%;
                right: 20%;
                width: 60%;
                gap: 20px;
                .sign_up_section{
                    width: 90%;
                    gap:15px;
                    height: fit-content;
                    .title{
                        font-size: 25px;
                    }
    
                    .section1{
                        gap: 20px;
                        .Google,.Twitter{
                           height: 45px;
                        }
                    }
                    .section2{
                        gap: 20px;
                        .username-holder{
                            .label{
                                font-size: 12px;
                                line-height: 15px;
                            }
                            .username{
                                height: 45px;
                            }
                        }
                        .password-holder{
                            .label{
                                font-size: 12px;
                                line-height: 15px;
                            }
                            .password{
                                height: 45px;
                            }
                            .sublabel{
                               
                                    font-size: 12px;
                               
                            }
                        }
                    }
                    .section3{
                        .sign_up_btn{
                            width: 30%;
                            height: 45px;
                        }
                        .signup{
                            font-size: 12px;
                        }
                    }
                }
               
            }
        }
     }

}
@media screen and (max-width: 560px){

    .Sign-up{
        .Spotlight{
            .spotImg{
                width: 170%;
            }
            .sign_upForm{
                
                width: 75%;
                padding: 15px;
                right: 10%;
                .sign_up_section{
                    .subtitle{
                        font-size: 9px;
                    }
                }
            }
            
        }
    }
}
@media screen and (max-width: 330px){

    .Sign-up{
        max-height: fit-content;
        .Spotlight{
            .spotImg{
                width: 200%;
            }
            .sign_upForm{
                width: 95%;
                padding: 15px;
                right: 3%;
                .sign_up_section{
                    gap: 20px;
                    .section1{
                        gap: 10px;
                    }
                    .section2{
                        gap: 10px;
                    }
                }
            }
            
        }
    }
}